/* CUSTOM CSS PAGE */
.text-body {
  color: #7e7e7e;
}
.text-heading {
  color: #1b1b1b;
}

/* Custom swiper */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #3BB77E;
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 12px !important;
  margin-bottom: 20px !important;
}
/* end custom swiper */

/* Custom other */
i[class^="fi-rs-"], span[class^="fi-rs-"] {
  display: flex;
  align-items: center;
}
.select-lang img {
  width: 25px;
  object-fit: contain;
}
.hover-color {
  &:hover > i, &:hover > div, &:hover div.box-icon i {
    color: #3BB77E !important;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 53px;
  right: 60px;
  cursor: pointer;
  z-index: 1000;
  &:hover {
    color: #3BB77E !important;
  }
}