@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
@import url('../uicons/css/all/all.css');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* SETUP GLOBAL STYLE */
body {
  font-family: 'Quicksand', 'Source Sans Pro', 'Arial', sans-serif;
}

*:focus {
  outline: none;
}

main {
  min-height: 100vh;
}

a.MuiLink-root {
  text-decoration: unset;
  color: white;
}
.bg-1 {
  background-color: #fddde4 !important;
}

.bg-2 {
  background-color: #cdebbc !important;
}

.bg-3 {
  background-color: #d1e8f2 !important;
}

.bg-4 {
  background-color: #cdd4f8 !important;
}

.bg-5 {
  background-color: #f6dbf6 !important;
}

.bg-6 {
  background-color: #fff2e5 !important;
}

.bg-7 {
  background-color: #d77f7a !important;
}

.bg-8 {
  background-color: #63a2c1 !important;
}

.bg-9 {
  background-color: #F2FCE4 !important;
}

.bg-10 {
  background-color: #FFFCEB !important;
}

.bg-11 {
  background-color: #ECFFEC !important;
}

.bg-12 {
  background-color: #FEEFEA !important;
}

.bg-13 {
  background-color: #FFF3EB !important;
}

.bg-14 {
  background-color: #FFF3FF !important;
}

.bg-15 {
  background-color: #F2FCE4 !important;
}

.text-brand {
  color: #3BB77E !important;
}

.text-body {
  color: #7E7E7E !important;
}

.text-brand-2 {
  color: #FDC040 !important;
}

.text-primary {
  color: #5a97fa !important;
}

.text-warning {
  color: #ff9900 !important;
}

.text-danger {
  color: #FD6E6E !important;
}

.text-success {
  color: #81B13D !important;
}

.text-info {
  color: #2cc1d8 !important;
}

.text-grey-4 {
  color: #adadad !important;
}

.text-muted {
  color: #B6B6B6 !important;
}

.text-7 {
  color: #d77f7a !important;
}

.text-8 {
  color: #63a2c1 !important;
}

.text-white {
  color: #fff !important;
}

.text-grey-5, .text-grey-5 a, .text-hover-grey-5:hover {
  color: #a2a2a2 !important;
}

.bg-brand {
  background-color: #3BB77E !important;
}

.bg-primary {
  background-color: #5a97fa !important;
}

.bg-warning {
  background-color: #ff9900 !important;
}

.bg-danger {
  background-color: #FD6E6E !important;
}

.bg-success {
  background-color: #81B13D !important;
}

.bg-info {
  background-color: #2cc1d8 !important;
}

.text-hover {
    transition: 'all .3s ease';
    &:hover {
        color: #3BB77E,
    }
}